{erl_opts, [debug_info]}.
{deps, [{eleveldb, {git, "git://github.com/basho/eleveldb.git", {branch, "master"}}}]}.

{relx, [{release, { verneDB, "0.1.0" },
         [verneDB,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
